$bg: #76e984;
$bg-light-1: #FFFFFF;
$bg-light-2: #f2f2f2;

$bg-dark-1: #151719;
$bg-dark-2: #1c1f21;

$font-light-1: #ffffff;
$font-light-2: #cdcdcd;
$font-dark-1: #151719;
$font-dark-2: #7f7f7f;

$red: #FF6D60;
$green: #98D8AA;